.row{
	margin: 0px
}

.control-label {
	font-family: '맑은 고딕';
	font-size: 12px
}

.content-header {
	font-family: '맑은 고딕';
	font-size: 12px
}

.content {
	font-family: '맑은 고딕';
	font-size: 12px
}

.box {
	margin-bottom: 5px
}

.box-body, .box-footer {
	padding: 5px
}

.form-group {
	margin-bottom: 5px;
	padding: 1px 1px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	padding-left: 5px;
	padding-right: 5px
}

.altRowClass {
	background-color: #F6F7FB;
	background-image: none;
}

.ui-jqgrid .ui-jqgrid-htable th div{
	height:16px;
	text-align : center;
	vertical-align : middle;
	font-family: "NanumBarunGothic", sans-serif;
	font-weight: 700;
	font-size: 13px;
}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
		font-size:16.5;

}
.jqgrow .jqgrid-rownum {
	background-color: transparent;
	background-image: none;
	color:black;
}

.ui-jqgrid tr.jqgrow thead {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap !important;


}

.ui-jqgrid tr.jqgrow td {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap !important;
	font-family: "NanumBarunGothic", sans-serif;
	font-weight: 200;
	font-size: 12px;
}

.ui-jqgrid .ui-pg-table td {
    font-weight: normal;
    vertical-align: middle;
    padding: 1px;
	color:black;
	font-family: "NanumBarunGothic", sans-serif;
	font-weight: 200;
	font-size: 12px;
}
a:focus {
	text-decoration: none;
}
#ui-datepicker-div, .ui-datepicker {z-index: 99999 !important;}

button, input, select {color: #000000;}