/* 
 * Nanum Barun Gothic (Korean) http://hangeul.naver.com
 */

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	src: url(./fonts/NanumBarunGothicUltraLight.eot);
	src: local('Nanum Barun Gothic UltraLight'),
	local('NanumBarunGothicUltraLight'),
	url(./fonts/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
	url(./fonts/NanumBarunGothicUltraLight.woff2) format('woff2'),
	url(./fonts/NanumBarunGothicUltraLight.woff) format('woff'),
	url(./fonts/NanumBarunGothicUltraLight.ttf) format('truetype');
}


.nanumbarungothic * {
	font-family: 'NanumBarunGothic', sans-serif;
}

.nbg1 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 12px;
}

.nbg2 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 14px;
}

.nbg3 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 16px;
}

.nbg4 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 18px;
}

.nbg5 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 20px;
}

.nbg6 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 22px;
}

.nbg7 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 24px;
}

.nbg8 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 26px;
}

.nbg9 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 28px;
}

.nbg10 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 30px;
}

.nbg11 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 32px;
}

.nbg12 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 34px;
}

.nbg13 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 36px;
}

.nbg14 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 38px;
}

.nbg15 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 40px;
}

.nbg16 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 42px;
}

.nbg17 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 44px;
}

.nbg18 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 46px;
}

.nbg19 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 48px;
}

.nbg20 {
	font-family: "NanumBarunGothic", sans-serif;
	font-size: 50px;
}

.b1 {
	font-weight: 200;
}

.b2 {
	font-weight: 300;
}

.b3 {
	font-weight: 400;
}

.b4 {
	font-weight: 700;
}
